body {
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	background-color: #E8E8E8;
}

.container {
	margin: 0 auto;
	width: 95%;
}

header {
	position: relative;
	background-color: #A8A8A8;

}

header .name {
	margin: 0px 0px 0px 2%;
}

header h1 a {
	font-size: 2em;
	text-decoration: none;
	color: #080808;
}

.menu-options {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40%;
}

.menu-options ul li {
	display: inline;
	margin-left: 0.8em;
	margin-right: 2%;
}

.menu-options ul {
	font-size: 1.3em;
}

.menu-options a {
	text-decoration: none;
	color: #080808;
}

.menu-options a:hover {
	color: #E8E8E8;
}

footer {
	position: relative;
	background-color: #A8A8A8;
}

footer img, .share {
	margin-right: 2%;
	margin-left: 2%;
}

.share {
	position: absolute;
	bottom: 0;
	right: 0;
}

.share li {
	display: inline;
	float: right;
	margin-left: 0.8em;
	font-size: 1.1em;
}

.share a {
	text-decoration: none;
	color: #080808;
}

.share a:hover {
	color: #D0D0D0;
}

.share a {
	height: 32px;
	width: 32px;
	
	border-radius: 3px;
	
	display: block;
	text-indent: -9999px;
}

.share a[href*="facebook.com"] {
	background-image: url(../img/facebook.png);
}

.share a[href*="twitter.com"] {
	background-image: url(../img/twitter.png);
}

.share a[href*="google.com"] {
	background-image: url(../img/google.png);
}
